.news-page {
  padding: 70px 0;
  .container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  &__content {
    max-width: 928px;
  }
  &__img-block {
    width: 100%;
    margin-bottom: 10px;
    img {
      width: 100%;
    }
  }
  &__title.title {
    font-size: 36px;
  }
  &__text {
    margin-bottom: 20px;
    text-indent: 20px;
    font-size: 18px;
    line-height: 20px;
  }
  &__date {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
    color: #999999;
  }
  &__link {
    color: #58998b;
    transition: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    &:hover {
      color: #325d54;
      transition: 0.3;
    }
  }
}
